# Created by .ignore support plugin (hsz.mobi)
.idea
/.vagrant/
*retry
!/kubernetes-setup/.vagrant/
/.aws/credentials
/terraform/.aws/credentials
/terraform/.terraform/
/terraform/terraform.tfstate
.aws
